:root {
  --color-1: #2370ee;
  --color-2: #3b23ee;
  --color-3: #a123ee;
  --color-4: #ee23d6;
  --color-5: #ee2370;
  --color-6: #ee3c23;
}

* {
  margin: 0;
  font-family: arial;
  color: white;
}

body {
  background-color: darkslategray;
}

h1 {
  color: var(--color-1);
}

#process-panel {
  display: flex;
  justify-content: center;
}

#process-panel>span {
  padding: 10px 0 10px;
  flex-grow: 1;
  display: block;
  text-align: center;
  color: white;
  outline: 2px solid white;
}

#content {
  margin: 5em 10% 0;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-top: 1em;
  margin-bottom: 1em;
}

.row>* {
  display: flex;
  flex-direction: column;
  width: 30%;
}

label {
  font-weight: bolder;
}

.label_a {
  color: var(--color-1);
}

.label_b {
  color: var(--color-2);
}

.label_c {
  color: var(--color-3);
}

.label_d {
  color: var(--color-4);
}

.label_e {
  color: var(--color-5);
}

input {
  padding: 5px;
}